*
{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-container
{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.side-bar
{
    background-color: rgb(51, 169, 248);
    grid-column: 1/2;
    grid-row: span;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
    color: white;
    font-weight: bold;
}
.side-bar-logo
{
    margin: 5% 0 0 5%;
    width: fit-content;
    display: flex;
    align-items: center;
}
.side-bar-logo>svg
{
    fill: white;
}
.side-bar-logo>p
{
    display: inline;
}
